button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include font-size(1);
  border: none;
  border-color: $c--primary;
  border-radius: 0;
  background: $c--primary;
  color: white;
  line-height: 1.2;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 8px;

  &:hover,
  &:hover:visited {
    color: white;
    background: $c--primary--light;
  }
}

a.film-button,
a.film-button:visited {
  @extend button;

  display: block;
  width: auto;

  &:hover,
  &:hover:visited {
    color: white;
    background: $c--primary--light;
  }
}
