//$font__main: "Native Regular", Helvetica, Arial, sans-serif;
$font__main: "Work Sans", Helvetica, Arial, sans-serif;
$font__main__italic: "Native Italic", "Work Sans", Helvetica, Arial, sans-serif;

$font__heading: "Franchise Bold", Helvetica, Arial, sans-serif;
$font__subheading: "Work Sans", Helvetica, Arial, sans-serif;

$font__admin-main: "Work Sans", Helvetica, Arial, sans-serif;
$font__admin-heading: "Libre Baskerville", Helvetica, Arial, sans-serif;

$font__sitename: "Brothers Regular", "Libre Baskerville", Helvetica, Arial, sans-serif;
$font__subtitle: "Prata Regular", "Libre Baskerville", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-weight--base: 500;
$font-weight--bold: 700;

$font-size-factor: 1.3399;

$font-size--md:  1rem;
$font-size--lg:  $font-size--md * $font-size-factor;
$font-size--xl:  $font-size--lg * $font-size-factor;
$font-size--xxl:  $font-size--xl * $font-size-factor; // Should be 2.4414rem

$font-size--sm:  $font-size--md  / $font-size-factor;
$font-size--xs:  $font-size--sm  / $font-size-factor;
$font-size--xxs: $font-size--xs  / $font-size-factor;
