html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: rgba($c--black, 0.75);
  font-family: $font__main;
  font-size: 1em;
  line-height: 1.6;
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: $font-weight--bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

h1,
h2 {
  font-family: $font__heading;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 1;
  margin: 1.125em 0 0.25em;
}

h3,
h4,
h5,
h6 {
  font-family: $font__subheading;
  font-weight: $font-weight--bold;
  line-height: 1.25;
  margin: 0 0 0.25em;
}

h1 {
  font-size: $font-size--xxl;

  &.site-title {
    font-family: $font__sitename;
    margin: 0;
    text-transform: uppercase;
  }
}

h2 {
  font-size: $font-size--xl;

  &.site-subtitle {
    font-family: $font__subtitle;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

h3 {
  font-size: $font-size--lg;
}

h4 {
  font-size: $font-size--md;
}

h5 {
  font-size: $font-size--sm;
}

h6 {
  font-size: $font-size--xs;
}

p {
  margin: 0 0 1em;
  line-height: 1.5;
  font-weight: 400;
  color: $c--text-main;
}

aside.sidebar {
  font-size: 0.8em;
}

.debug {
  font-family: monospace;
  font-size: 10px;
  background-color: rgba($c--black, 0.1);
  border: 1px solid rgba($c--black, 0.2);
  padding: 10px;
  margin: 0 0 10px;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

div.link a {
  display: block;
  font-weight: bold;
  width: max-content;
  background-color: #95220d;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  padding: 0.325rem 0.5rem;

  &:hover,
  &:focus {
    background-color: #c42d11;
    text-decoration: none;
  }
}

#content a {
  &:not(.film-title):not(.film-button) {
      text-decoration: underline;
  }

  &:hover,
  &:focus,
  &.film-title:hover,
  &.film-title:focus {
      text-decoration: underline;
  }
}