.calendar {
  // border: 3px double orange;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em;

  a {
    text-decoration: none;
    font-weight: 600;
  }
}

.calendar--monthly {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;

  @include breakpoint($md) {
    grid-template-columns: repeat(7, 1fr);
    font-size: 1rem;
  }

  .day {
    background-color: rgba(#000, 0.05);
    position: relative;
    border: 1px solid rgba(#000, 0.125);
    border-radius: 0.85rem;
    padding: 0;
    margin: 0;
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include breakpoint($md) {
      justify-content: flex-end;
      min-height: 4em;
      min-width: 2em;
    }

    &.heading {
      border: none;
      background-color: transparent;
      display: none;
      align-items: center;
      justify-content: center;
      line-height: 1;
      min-height: 0;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      font-weight: bold;

      @include breakpoint($md) {
        display: flex;
      }
    }

    &.empty {
      background-color: transparent;
      border: none;
      display: none;

      @include breakpoint($md) {
        display: flex;
      }
    }
  }
}

.date-display {
  display: block;
  margin: 0.5em;
  font-weight: 600;
  line-height: 1;

  @include breakpoint($md) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#000, 0.5);
    width: 1.25em;
    height: 1.25em;
    color: white;
    border-radius: 0.75em;
    margin: 0;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
  }

  &--day {
    font-size: 0.75em;

    &__full {
      display: block;

      @include breakpoint($md) {
        display: none;
      }
    }

    &__num {
      display: none;

      @include breakpoint($md) {
        display: block;
      }
    }
  }
}

.films-display {
  padding: 0 0.3em 0.3em 0.3em;
  display: flex;
  flex-direction: column;
  grid-gap: 0.4em;
  justify-content: flex-start;
  align-items: flex-start;

  @include breakpoint($md) {
    padding-top: 1.75em;
  }
}

.film {
  display: flex;
  font-size: 0.75em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  grid-gap: 0.125em;
  border: 1px solid;
  width: 100%;
  padding: 0.25em 0.5em;
  border-radius: 0.7em;

  background-color: rgba(#ccc, 0.35);
  border-color: rgba(#ccc, 0.5);

  @include breakpoint($md) {
    flex-direction: column;
  }

  button.film-title {
    @include link-style;

    text-transform: none;
    text-decoration: none;
    line-height: 1.3;
    display: block;
    font-weight: 600;
    cursor: pointer;

    &:after {
      content: ": ";
      margin-right: 0.25em;

      @include breakpoint($md) {
        display: none;
      }
    }
  }

  .film-times {
    font-weight: 500;
    line-height: 1.3;
    display: block;
  }
}
