.section-outer--site-content {
  flex: 1;
}

.section-inner--site-content {
  padding-top: 4vw;
  padding-bottom: 4vw;

  @include breakpoint($md) {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
  }
}
