// Teaser heading.
.film-cards-heading {
  margin-bottom: 1rem;
}

h2.section-title {
  border-bottom: 1px solid rgba(#000, 0.25);
  margin: 0 0 2rem;
  padding: 0;
  font-size: 3rem;
}

.film-cards {
  // border: 1px dashed orange;
  display: grid;
  gap: 3rem;
  margin: 0 0 3rem;
}

.film-cards--now-playing {
  border-color: red;
}

.film-cards--coming-soon {
  border-color: green;

  @include breakpoint($md) {
    grid-template-columns: 1fr 1fr;
  }
}

.film-cards > .film-teaser {
  margin: 0;
}
