// Teaser heading.
.film-teasers-heading {
  margin-bottom: 1em;
}

// The grid for the teaser
.film-teaser {
  font-size: 1em;
  display: grid;
  grid-template-areas:
    "poster title"
    "poster info"
    "poster links"
    "description description"
    "screenings screenings";
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  column-gap: 1em;
  row-gap: 1.25em;
  margin: 2em 0 4em;
  padding: 0;

  @include breakpoint($sm) {
    grid-template-columns: 1fr 2.5fr;
  }

  @include breakpoint($md) {
    column-gap: 1.5em;
    row-gap: 1em;
    grid-template-areas:
      "sidebar title"
      "sidebar info"
      "sidebar description"
      "sidebar screenings";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content min-content min-content min-content;
  }
}

.film-teaser--sidebar {
  display: contents;

  @include breakpoint($md) {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
  }
}

.film-teaser--links {
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  justify-content: flex-end;

  @include breakpoint($md) {
    grid-gap: 12px;
    justify-content: flex-start;
  }

  a {
    max-width: 250px;
  }
}

.film-teaser--title {
  grid-area: title;
  font-size: 2.25em;
  margin: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.film-teaser--film-info {
  grid-area: info;
  padding: 0;
  margin: -0.75em 0 0;
  font-size: 1em;
  font-weight: $font-weight--bold;

  @include breakpoint($md) {
    font-size: 0.9em;
  }
}

.film-teaser--links {
  grid-area: links;
}

.film-teaser--description {
  grid-area: description;
  padding: 0;
  margin: 0;
  font-size: 1em;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.film-teaser--screenings {
  grid-area: screenings;
  padding: 0;
  font-size: 1em;

  .screenings p {
    margin-bottom: 0;
  }
}

.week {
  padding: 0;
  margin-bottom: 0.5em;
}

.film-teaser--poster {
  grid-area: poster;

  img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
  }
}
