.section-outer--site-header {
  background-image: url("images/header-background.png");
  background-position: center;

  &:after {
    display: block;
    content: '';
    height: 16px;
    width: 100%;
    background-image: url(images/header-squiggle.png);
    background-position: top center;
    background-repeat: repeat-x;
  }
}

.section-inner--site-header {
  @include site-margin;
  font-size: 1.75vw;
  padding: 1.25em 0;

  @include breakpoint($md) {
    font-size: 1rem;
  }
}

.content-layout--header * {
  // transition: font-size .05s linear;
}

.content-layout--header {
  display: grid;
  grid-template-columns: 1fr 1fr 4em;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'social donate donate'
    'title title menu';

  @include breakpoint($md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto auto;
    grid-template-areas:
    'social donate'
    'title title'
    'menu menu';
  }

  .social-media-area {
    grid-area: social;
  }

  .title-area {
    grid-area: title;
  }

  .donate-area {
    grid-area: donate;
  }

  .menu-area {
    grid-area: menu;
  }
}

.menu-area {
  margin: 0;
  padding: 0;

  @include breakpoint($md) {
    justify-content: center;
    display: flex;
    padding-bottom: 1em;
  }
}

.main-navigation {
  display: none;

  @include breakpoint($md) {
    display: block;
    width: 40em;
  }
}

.social-media-area {
  font-size: 1.5em;
  margin: 0 0 .75em;

  @include breakpoint($sm) {
    font-size: .9em;
  }

  @include breakpoint($md) {
    font-size: 1em;
  }
}

.donate-area {
  font-size: 1.75vw;
  position: absolute;
  top: 0;
  right: 0;

  @include breakpoint($md) {
    font-size: .8em;
    right: 0;
  }

  @include breakpoint($lg) {
    font-size: .9em;
    right: 0;
  }
}

a.donate-button {
  background-image: url("images/donate-button.png");
  display: block;
  text-indent: -9999px;
  height: 6.8em;
  width: 11.26em;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  opacity: .9;

  &:hover {
    opacity: 1;
  }
}
