.blocks {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
  margin: 2rem 0 3rem;
}

.block {
  margin-bottom: 1.5rem;

  .blocks > &,
  &:last-child {
    margin-bottom: 0;
  }
}
