// The grid for the teaser
.film-card {
  font-size: 1.25em;
  display: grid;
  grid-template-areas:
    "title"
    "poster"
    "info"
    "links"
    "screenings"
    "description";
  column-gap: 1.25em;
  row-gap: 1.25em;
  margin: 0;
  padding: 0;

  @include breakpoint($sm) {
    font-size: 1em;
    grid-template-areas:
      "poster title"
      "poster info"
      "poster links"
      "poster screenings"
      "description description";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: min-content min-content min-content 1fr min-content;
  }

  @include breakpoint($md) {
    column-gap: 1.5em;
    row-gap: 1em;
    grid-template-areas:
      "sidebar title"
      "sidebar info"
      "sidebar screenings"
      "sidebar description";
    grid-template-columns: 1fr 2.25fr;
    grid-template-rows: min-content min-content min-content 1fr;
  }

  .modal-inner & {
    margin: 0 8px 0 0;
  }
}

.film-card--sidebar {
  display: contents;

  @include breakpoint($md) {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
  }
}

.film-card--links {
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  justify-content: flex-end;

  @include breakpoint($md) {
    grid-gap: 12px;
    justify-content: flex-start;

    a {
      max-width: none;
    }
  }
}

.film-card--title {
  grid-area: title;
  font-size: 2.5em;
  margin: 0 0 -0.25em;
  text-align: center;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @include breakpoint($sm) {
    font-size: 2.25em;
    margin: 0;
    text-align: left;

    .film-card.coming-soon & {
      // font-size: 1.825em;
    }
  }
}

.film-card--film-info {
  grid-area: info;
  padding: 0;
  margin: -0.25em 0 0;
  font-size: 1.125em;
  font-weight: $font-weight--bold;
  text-align: center;

  @include breakpoint($sm) {
    margin: -0.75em 0 0;
    font-size: 1em;
    text-align: left;
  }

  @include breakpoint($md) {
    font-size: 0.9em;
  }
}

.film-card--links {
  grid-area: links;
}

.film-card--description {
  grid-area: description;
  padding: 0;
  margin: 0;
  font-size: 1em;
  height: min-content;
  text-align: left;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .film-card.coming-soon & {
    display: none;
  }

  @include breakpoint($sm) {
    text-align: left;
  }
}

.film-card--screening-info {
  grid-area: screenings;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.film-card--screenings {
  padding: 0.5em 0.75em;
  font-size: 1em;
  background-color: rgba(#fff, 0.75);
  border: 1px solid rgba(#ccc, 0.5);
  height: min-content;

  p, ul.screenings-list {
    margin: 0;
    line-height: 1.625;
    list-style: none;
    padding: 0;
    margin: 0;

    li.screening {
      padding: 0;
      margin: 0;
      

      &.past {
        opacity: 0.5;
        font-weight: 100;
      }

      &.present,
      &.future {
        color: $c--black;
      }
    }
  }
}

.week {
  padding: 0;
  margin-bottom: 0.5em;
}

.film-card--poster {
  grid-area: poster;

  img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
  }
}

a.film-button {
  max-width: 100%;
  font-size: 1.25em;
  padding: 0.5em 0;

  @include breakpoint($sm) {
    max-width: 250px;
    font-size: 1em;
    padding: 0.3em 0;
  }

  @include breakpoint($md) {
    max-width: 100%;
    padding: 0.5em 0;
  }
}

.coming-soon .film-button {
  @include breakpoint($md) {
    span {
      display: none;
    }
  }
}
