.title-area {
  container-type: inline-size;
  width: 80vw;

  @include breakpoint($md) {
    width: 45em;
  }
}

.title-grid {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: grid;
  position: relative;
  grid-template-areas:
    "logo social"
    "logo title";
  grid-template-columns: 1fr 5fr;
  row-gap: 1.825cqi;
  column-gap: 2.5cqi;

  .logo {
    grid-area: logo;
    display: block;
    aspect-ratio: 1/1;
    width: 15.25cqi;
    background-image: url(images/logos/gi-logo--optimized.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: .25cqi;
  }

  .site-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: max-content;
  }

  .site-subtitle {
    grid-area: subtitle;
  }

  .social-navigation {
    grid-area: social;
  }

  // .home-link {
  //   background-color: transparent;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   text-indent: -9999em;
  // }
}

.site-title {
  font-family: $font__sitename;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 10cqi;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
  letter-spacing: .2125cqi;
  color: $c--white;

  .article {
    font-size: 3.5cqi;
    letter-spacing: 1.25cqi;
    margin-top: -0.25em;
    margin-right: -.75em;
    margin-bottom: -.4em;
    margin-left: .15em;
  }
}

h2.site-subtitle {
  margin: 0;
  line-height: 1.2;
  font-size: 1.75cqi;
  letter-spacing: .35cqi;
  width: auto;
  color: $c--white;
  text-align: left;
  font-weight: bold;
}

.title-area--footer {
  font-size: 2vw;

  @include breakpoint($sm) {
    font-size: .75em;
  }
}
