a {
	color: $c--link;

	&:visited {
		color: $c--link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $c--link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
