ul#primary-menu {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 6vw;

  > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    float: none;
    width: 100%;

    > a {
      padding: 0;
      margin: 0 .4em 0 0;
      line-height: 1;
      text-transform: uppercase;
      color: $c--red;
      font-weight: bold;
      text-align: center;
      white-space: no-wrap;

      &:hover,
      &:focus {
        color: mix($c--text-heading--light, $c--red, 50%);
      }
    }

    > ul.sub-menu {
       background-color: rgba(#fff, .75);
       padding: 10px;
     }

    &.current-menu-item a {
      color: $c--text-heading--light;
      cursor: default;

      &:hover,
      &:focus {
        color: $c--text-heading--light;
      }
    }
  }

  @include breakpoint($sm) {
    font-size: 4vw;
  }

  @include breakpoint($md) {
    display: flex;
    font-size: 2cqi;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2cqi;

    > li {
      width: auto;

      > a {
        margin: 0;
      }
    }
  }
}

.menu-area a.hc-nav-trigger {
  height: 3.25em;
  width: 3.25em;
  margin: 2.1em 0 0;
}